*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#ffffff;

color:#111;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 8%;

}

.logo{

font-size:28px;

font-weight:700;

letter-spacing:3px;

}

nav ul{

display:flex;

list-style:none;

gap:40px;

}

nav a{

text-decoration:none;

color:#111;

font-weight:500;

}

.hero{

height:70vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

max-width:900px;

}

.hero p{

font-size:20px;

max-width:700px;

line-height:1.8;

margin-bottom:40px;

}

.button{

padding:18px 40px;

background:#111;

color:white;

text-decoration:none;

font-weight:600;

border-radius:5px;

}

.collections{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

padding:80px 8%;

}

.card{

padding:50px;

border:1px solid #ddd;

border-radius:10px;

}

.card h2{

margin-bottom:20px;

}

footer{

text-align:center;

padding:60px;

border-top:1px solid #ddd;

margin-top:80px;

}
